.body {
    height: calc(100vh - 119px);
    background-color: gray;
    overflow-y: hidden;
    position: relative;
}

.title {
    text-align: center;
    margin-top: 10%;
    /* margin: 200px; */
    font-size: 750%;
    font-weight: bold;
    position: relative;
    color: white;
}

.description {
    font-size: 25%;
    max-width: 50%;
    margin-left: 25%;
    margin-right: 25%;
}

.background {
    z-index: 0;
    position: absolute;
    aspect-ratio: 900/600;
    width: 100%;
    background-repeat: no-repeat;
    /* bottom: 0; */
    background-size: cover;
    background-image: url('../../media/homepage.svg');
}
